In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.DataFrame(np.random.randn(3,4), index=list('abc'), columns=['olma','anor','qovun','anjir'])
df

       olma      anor     qovun     anjir
a -0.973211 -0.562639  0.199683  1.137060
b  0.354100 -0.469097  1.499919 -0.629040
c -0.587644 -1.004512 -0.496916 -0.201625

In [4]:
np.abs(df) #"abs" bu absolyut qiymat yani faqat musbat qiymatni konsolga chiqazadi

       olma      anor     qovun     anjir
a  0.973211  0.562639  0.199683  1.137060
b  0.354100  0.469097  1.499919  0.629040
c  0.587644  1.004512  0.496916  0.201625

In [6]:
np.round(df) # "round" bu faqat butun sonlarni qaytaradi

   olma  anor  qovun  anjir
a  -1.0  -1.0    0.0    1.0
b   0.0  -0.0    1.0   -1.0
c  -1.0  -1.0   -0.0   -0.0

In [8]:
df.mean() # " mean" ortacha qiymat qaytaradi

olma    -0.402252
anor    -0.678749
qovun    0.400895
anjir    0.102132
dtype: float64

In [11]:
df.apply(sum) # "apply" ning qulayligi uning ichiga joylash orqali kop amallarni amalga oshira olamiz

olma    -1.206756
anor    -2.036247
qovun    1.202686
anjir    0.306395
dtype: float64

In [13]:
df.apply(lambda x: x.max()-x.min()) # max qiymat bn min qiymat orasidagi farq "lambda" funksiyasinin organish kk

olma     1.327311
anor     0.535415
qovun    1.996835
anjir    1.766100
dtype: float64

In [14]:
def foo(x):
     return pd.Series([x.min(), x.max()], index=['min','max']) # series qiymat qaytaraybdi

In [15]:
df.apply(foo)

         olma      anor     qovun    anjir
min -0.973211 -1.004512 -0.496916 -0.62904
max  0.354100 -0.469097  1.499919  1.13706

In [16]:
df = pd.DataFrame(np.arange(1,13).reshape(3,4), index=list('abc'), columns=['olma','anor','qovun','anjir'])
df

   olma  anor  qovun  anjir
a     1     2      3      4
b     5     6      7      8
c     9    10     11     12

In [18]:
df.applymap(lambda x: x*x)# har bir elementni kvadratini qaytaradi " x " bu harbir element

   olma  anor  qovun  anjir
a     1     4      9     16
b    25    36     49     64
c    81   100    121    144